USE [master]
GO
/****** Object:  Database [QlTourDuLich]    Script Date: 10/6/2018 1:20:55 PM ******/
CREATE DATABASE [QlTourDuLich]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QlTourDuLich', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QlTourDuLich.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QlTourDuLich_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QlTourDuLich_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QlTourDuLich].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QlTourDuLich]
GO
/****** Object:  Table [dbo].[CTPHIEUNHAP_TOUR]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP_TOUR](
	[Ma_CTPNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaTour] [int] NULL,
	[SoLuong] [int] NULL,
	[MaPNhap] [int] NULL,
 CONSTRAINT [PK_CTPHIEUNHAP_TOUR] PRIMARY KEY CLUSTERED 
(
	[Ma_CTPNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIADANH]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADANH](
	[MaDiaDanh] [int] IDENTITY(1,1) NOT NULL,
	[TenDiaDanh] [nvarchar](100) NOT NULL,
	[MaDiaDiem] [int] NULL,
 CONSTRAINT [PK_DiaDanh] PRIMARY KEY CLUSTERED 
(
	[MaDiaDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIADIEM]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADIEM](
	[MaDiaDiem] [int] IDENTITY(1,1) NOT NULL,
	[TenDiaDiem] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DD] PRIMARY KEY CLUSTERED 
(
	[MaDiaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANHTRINH]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANHTRINH](
	[MaHanhTrinh] [int] IDENTITY(1,1) NOT NULL,
	[NoiDi] [int] NULL,
	[NoiDen] [int] NULL,
 CONSTRAINT [PK_HT] PRIMARY KEY CLUSTERED 
(
	[MaHanhTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaTour] [int] NULL,
	[MaKH] [int] NULL,
	[MaKS] [int] NULL,
	[ThoiGianDat] [datetime] NULL,
	[SoNguoiLon] [int] NULL,
	[SoTreEm] [int] NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_MaHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HUONGDANVIEN]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUONGDANVIEN](
	[MaHDV] [int] IDENTITY(1,1) NOT NULL,
	[TenHDV] [nvarchar](50) NULL,
	[SDT] [nvarchar](12) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[AnhDaiDien] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
	[NgayVaoLam] [datetime] NULL,
	[NgonNgu] [nvarchar](50) NULL,
 CONSTRAINT [PK_HDV] PRIMARY KEY CLUSTERED 
(
	[MaHDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[NgSinh] [datetime] NULL,
	[GioiTinh] [int] NULL,
	[Email] [varchar](50) NULL,
	[SDTKH] [char](11) NULL,
	[DCKH] [nvarchar](100) NULL,
	[MaLoaiKH] [int] NULL,
	[TenDoanhNghiep] [nvarchar](100) NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHSAN]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHSAN](
	[MaKS] [int] IDENTITY(1,1) NOT NULL,
	[TenKS] [nvarchar](50) NULL,
	[MaLoaiKS] [int] NULL,
	[MaDiaDiem] [int] NULL,
	[GiaTien] [money] NULL,
 CONSTRAINT [PK_KS] PRIMARY KEY CLUSTERED 
(
	[MaKS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIKHACHHANG]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[MaLoaiKH] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiKH] [nvarchar](50) NULL,
	[UuDai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_LKH] PRIMARY KEY CLUSTERED 
(
	[MaLoaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIKHACHSAN]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACHSAN](
	[MaLoaiKS] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiKS] [nvarchar](50) NULL,
 CONSTRAINT [PK_LKS] PRIMARY KEY CLUSTERED 
(
	[MaLoaiKS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITOUR]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITOUR](
	[MaLoaiTour] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTour] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LT] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MANHINH]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANHINH](
	[MaMH] [int] IDENTITY(1,1) NOT NULL,
	[TenMH] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_MH] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](30) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[AnhDaiDien] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](11) NULL,
	[TrangThai] [int] NULL,
	[MatKhauCap2] [nvarchar](50) NULL,
	[MaPhgBan] [int] NULL,
 CONSTRAINT [PK_ND] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MaNhom] [int] IDENTITY(1,1) NOT NULL,
	[TenNhom] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NND] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MaPQ] [int] IDENTITY(1,1) NOT NULL,
	[MaNhom] [int] NULL,
	[MaMH] [int] NULL,
	[CoQuyen] [int] NULL,
 CONSTRAINT [PK_PQ] PRIMARY KEY CLUSTERED 
(
	[MaPQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAPTOUR]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPTOUR](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[TenPN] [nvarchar](50) NULL,
	[Ngaynhap] [date] NULL,
	[MaNV] [int] NULL,
 CONSTRAINT [PK_PNT] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANLINHOMNGUOIDUNG]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLINHOMNGUOIDUNG](
	[MaQlNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[MaNhom] [int] NULL,
	[MaNV] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_QLNND] PRIMARY KEY CLUSTERED 
(
	[MaQlNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOUR]    Script Date: 10/6/2018 1:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TOUR](
	[MaTour] [int] IDENTITY(1,1) NOT NULL,
	[TenTour] [nvarchar](100) NULL,
	[NgayKhoiHanh] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[GiaTreEm] [money] NULL,
	[GiaNguoiLon] [money] NULL,
	[MoTa] [nvarchar](100) NULL,
	[MaLoaiTour] [int] NULL,
	[MaHanhTrinh] [int] NULL,
	[MaHDV] [int] NULL,
	[AnhDaiDien] [varchar](50) NULL,
	[SoLuongDuKhach] [int] NULL,
 CONSTRAINT [PK_TOUR] PRIMARY KEY CLUSTERED 
(
	[MaTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((1)) FOR [GioiTinh]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (N'Chưa xác định') FOR [TenDoanhNghiep]
GO
ALTER TABLE [dbo].[LOAIKHACHHANG] ADD  DEFAULT (N'Không có chương trình') FOR [UuDai]
GO
ALTER TABLE [dbo].[LOAIKHACHHANG] ADD  DEFAULT (N'Không có ghi chú gì') FOR [GhiChu]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP_TOUR]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAP_MaPN] FOREIGN KEY([MaPNhap])
REFERENCES [dbo].[PHIEUNHAPTOUR] ([MaPN])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP_TOUR] CHECK CONSTRAINT [FK_CTPHIEUNHAP_MaPN]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP_TOUR]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAP_MaTour] FOREIGN KEY([MaTour])
REFERENCES [dbo].[TOUR] ([MaTour])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP_TOUR] CHECK CONSTRAINT [FK_CTPHIEUNHAP_MaTour]
GO
ALTER TABLE [dbo].[DIADANH]  WITH CHECK ADD  CONSTRAINT [FK_DiaDiem_DiaDanh] FOREIGN KEY([MaDiaDiem])
REFERENCES [dbo].[DIADIEM] ([MaDiaDiem])
GO
ALTER TABLE [dbo].[DIADANH] CHECK CONSTRAINT [FK_DiaDiem_DiaDanh]
GO
ALTER TABLE [dbo].[HANHTRINH]  WITH CHECK ADD  CONSTRAINT [FK_HT_NDen] FOREIGN KEY([NoiDen])
REFERENCES [dbo].[DIADIEM] ([MaDiaDiem])
GO
ALTER TABLE [dbo].[HANHTRINH] CHECK CONSTRAINT [FK_HT_NDen]
GO
ALTER TABLE [dbo].[HANHTRINH]  WITH CHECK ADD  CONSTRAINT [FK_HT_NDi] FOREIGN KEY([NoiDi])
REFERENCES [dbo].[DIADIEM] ([MaDiaDiem])
GO
ALTER TABLE [dbo].[HANHTRINH] CHECK CONSTRAINT [FK_HT_NDi]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HD_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HD_MaKH]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HD_MaKS] FOREIGN KEY([MaKS])
REFERENCES [dbo].[KHACHSAN] ([MaKS])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HD_MaKS]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HD_MaTour] FOREIGN KEY([MaTour])
REFERENCES [dbo].[TOUR] ([MaTour])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HD_MaTour]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [PK_KH_LOAI] FOREIGN KEY([MaLoaiKH])
REFERENCES [dbo].[LOAIKHACHHANG] ([MaLoaiKH])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [PK_KH_LOAI]
GO
ALTER TABLE [dbo].[KHACHSAN]  WITH CHECK ADD  CONSTRAINT [FK_KS_DD] FOREIGN KEY([MaDiaDiem])
REFERENCES [dbo].[DIADIEM] ([MaDiaDiem])
GO
ALTER TABLE [dbo].[KHACHSAN] CHECK CONSTRAINT [FK_KS_DD]
GO
ALTER TABLE [dbo].[KHACHSAN]  WITH CHECK ADD  CONSTRAINT [FK_KS_LKS] FOREIGN KEY([MaLoaiKS])
REFERENCES [dbo].[LOAIKHACHSAN] ([MaLoaiKS])
GO
ALTER TABLE [dbo].[KHACHSAN] CHECK CONSTRAINT [FK_KS_LKS]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_ND_NND] FOREIGN KEY([MaPhgBan])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_ND_NND]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PQ_MH] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MANHINH] ([MaMH])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PQ_MH]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PQ_MN] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PQ_MN]
GO
ALTER TABLE [dbo].[PHIEUNHAPTOUR]  WITH CHECK ADD  CONSTRAINT [FK_PNT_MANV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NGUOIDUNG] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUNHAPTOUR] CHECK CONSTRAINT [FK_PNT_MANV]
GO
ALTER TABLE [dbo].[QUANLINHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QLNND_ND] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NGUOIDUNG] ([MaNV])
GO
ALTER TABLE [dbo].[QUANLINHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QLNND_ND]
GO
ALTER TABLE [dbo].[QUANLINHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QLNND_NND] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[QUANLINHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QLNND_NND]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD  CONSTRAINT [FK_TOUR_HDV] FOREIGN KEY([MaHDV])
REFERENCES [dbo].[HUONGDANVIEN] ([MaHDV])
GO
ALTER TABLE [dbo].[TOUR] CHECK CONSTRAINT [FK_TOUR_HDV]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD  CONSTRAINT [FK_TOUR_HT] FOREIGN KEY([MaHanhTrinh])
REFERENCES [dbo].[HANHTRINH] ([MaHanhTrinh])
GO
ALTER TABLE [dbo].[TOUR] CHECK CONSTRAINT [FK_TOUR_HT]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD  CONSTRAINT [FK_TOUR_LOAI] FOREIGN KEY([MaLoaiTour])
REFERENCES [dbo].[LOAITOUR] ([MaLoaiTour])
GO
ALTER TABLE [dbo].[TOUR] CHECK CONSTRAINT [FK_TOUR_LOAI]
GO
USE [master]
GO
